{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/analysis/">
    <title>Probr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "bower_components/angular-punch-card/dist/punch-card.css" %}">
        <link rel="stylesheet" type="text/less" href="{% static "assets/stylesheet.less" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bower_components/leaflet/dist/leaflet.css" %}">
        <link rel="stylesheet" type="text/less" href="{% static "components/searchInput/searchInput.less" %}">
    {% endcompress %}

</head>
<body ng-app="probrAnalysis">
<div ui-view=""></div>

{% compress js %}
    <script src="{% static "bower_components/lodash/lodash.js" %}"></script>
    <script src="{% static "bower_components/Chart.js/Chart.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-router/release/angular-ui-router.js" %}"></script>
    <script src="{% static "bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower_components/angular-chart.js/angular-chart.js" %}"></script>
    <script src="{% static "bower_components/angular-websocket/angular-websocket.js" %}"></script>
    <script src="{% static "bower_components/d3/d3.js" %}"></script>
    <script src="{% static "bower_components/angular-punch-card/dist/punch-card.js" %}"></script>
    <script src="{% static "bower_components/ngEnter/dist/ngEnter.js" %}"></script>
    <script src="{% static "bower_components/leaflet/dist/leaflet-src.js" %}"></script>
    <script src="{% static "bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>


    <script src="{% static "app/app.js" %}"></script>

    <script src="{% static "components/PvtlD3TreemapDirective/PvtlD3TreemapDirective.js" %}"></script>
    <script src="{% static "components/probrPacketSearch/probrPacketSearch.directive.js" %}"></script>
    <script src="{% static "components/probrPagination/pagination.directive.js" %}"></script>
    <script src="{% static "components/probrMap/probrMap.directive.js" %}"></script>

    <script src="{% static "app/modules/probrAnalysisCommon/common.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisCommon/resources/packet.service.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisCommon/resources/resource.socket.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisCommon/filters/mac.filter.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisCommon/navbar/navbar.controller.js" %}"></script>

    <script src="{% static "app/modules/probrAnalysisPacketsFilter/packetsFilter.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisPacketsFilter/packets/packets.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisPacketsFilter/packets/packets.controller.js" %}"></script>

    <script src="{% static "app/modules/probrAnalysisVendors/vendors.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisVendors/vendors/vendors.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisVendors/vendors/vendors.controller.js" %}"></script>

    <script src="{% static "app/modules/probrAnalysisRoomUtilization/utilization.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisRoomUtilization/utilization/utilization.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisRoomUtilization/utilization/utilization.controller.js" %}"></script>

    <script src="{% static "app/modules/probrAnalysisMap/map.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisMap/map/map.js" %}"></script>
    <script src="{% static "app/modules/probrAnalysisMap/map/map.controller.js" %}"></script>

{% endcompress %}

</body>
</html>