<div ng-include="'app/modules/probrAnalysisCommon/navbar/navbar.html'"></div>

<div class="container-fluid">
    <!-- Packets -->

    <h1>Packets</h1>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-condensed">
                <tr>
                    <td> Source</td>
                    <td> Destination</td>
                    <td> Signal Strength</td>
                    <td> SSID</td>
                    <td> Latitude/Longitude</td>
                    <td> Time</td>
                    <td> Tags</td>
                </tr>
                <tr ng-repeat="packet in livePackets">
                    <td>{{ packet.mac_address_src | mac }}</td>
                    <td>{{ packet.mac_address_dst | mac }}</td>
                    <td>{{ packet.signal_strength }}</td>
                    <td>{{ packet.ssid }}</td>
                    <td>{{ packet.location.coordinates[1] }} / {{ packet.location.coordinates[0] }}</td>
                    <td>{{ packet.time | date : 'shortDate' }}, {{ packet.time | date : 'mediumTime' }}</td>
                    <td>{{ packet.tags }}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <!-- Devices -->
    <h1>Devices</h1>

    <div class="row">
        <div class="col-sm-6">
            <h2> Current : </h2>

            <h3 class="text-center">{{lastfivemin.length}}</h3>

            <p class="text-center">unique devices spotted</p>
        </div>
        <div class="col-sm-6">
            <h2> Total : </h2>

            <h3 class="text-center">{{devices.length}}</h3>

            <p class="text-center">unique devices spotted</p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4 table-responsive">
            <h2>Devices seen last 5 minutes:</h2>
            <br>
            <table class="table table-condensed">
                <tr>
                    <td> MAC</td>
                    <td> Vendor</td>
                    <td> Time</td>
                </tr>
                <tr ng-repeat="dev in lastfivemin">
                    <td>{{ dev.mac_address }}</td>
                    <td>{{ dev.vendor }}</td>
                    <td>{{ dev.last_seen }}</td>
                </tr>
            </table>
            <div ng-hide="notDisplayedMin < 1">
                ... and {{ notDisplayedMin }} others.
            </div>
        </div>
        <div class="col-sm-4 table-responsive">
            <h2>Devices seen last hour:</h2>
            <br>
            <table class="table table-condensed">
                <tr>
                    <td> MAC</td>
                    <td> Vendor</td>
                    <td> Time</td>
                </tr>
                <tr ng-repeat="dev in lasthour">
                    <td>{{ dev.mac_address }}</td>
                    <td>{{ dev.vendor }}</td>
                    <td>{{ dev.last_seen }}</td>
                </tr>
            </table>
            <div ng-hide="notDisplayedHour < 1">
                ... and {{ notDisplayedHour }} others.
            </div>
        </div>
        <div class="col-sm-4 table-responsive">
            <h2>Devices seen last day: </h2>
            <br>
            <table class="table table-condensed">
                <tr>
                    <td> MAC</td>
                    <td> Vendor</td>
                    <td> Time</td>
                </tr>
                <tr ng-repeat="dev in lastday">
                    <td>{{ dev.mac_address }}</td>
                    <td>{{ dev.vendor }}</td>
                    <td>{{ dev.last_seen }}</td>
                </tr>
            </table>
            <div ng-hide="notDisplayedDay < 1">
                ... and {{ notDisplayedDay }} others.
            </div>
        </div>
    </div>
</div>