<div ng-include="'app/modules/probrAnalysisCommon/navbar/navbar.html'"></div>
<div ng-include="'app/modules/probrAnalysisCommon/navbar/analysis.html'"></div>

<div class="container-fluid">

    <h1>MAC-Analyzer</h1>

    <div class="row">
        <div class="col-xs-4">
            <input type="text" placeholder="MAC-Address (f.e. 78:68:35:8C:5F)" ng-model="macInput" class="form-control">
        </div>
        <div class="col-xs-4">
            <input type="text" placeholder="Alias (Pete's Phone)" ng-model="alias" class="form-control">
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary" ng-click="addMAC()">Watch</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-condensed">
                <tr ng-repeat="target in watchedAddresses">
                    <td>
                        <a class="btn btn-primary btn-xs" href="mac/location/{{target.mac_address}}">Map</a>
                        <a class="btn btn-primary btn-xs" href="mac/history/{{target.mac_address}}">History</a>

                        <span class="btn btn-default btn-xs" style="font-family: monospace">{{target.mac_address | mac}} ({{target.alias}})</span>

                        <i ng-click="removeMAC(target)" class="fa fa-trash pull-right"></i>
                        <i ng-click="toggleMAC(target)" class="fa pull-right" ng-class="target.hidden ? 'fa-eye-slash' : 'fa-eye'"></i>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <probr-session-swimlane sessions="swimlaneSessions" aliases="watchedAddresses"></probr-session-swimlane>
        </div>
    </div>

</div>
