<div ng-include="'app/modules/probrAnalysisCommon/navbar/navbar.html'"></div>
<div ng-include="'app/modules/probrAnalysisCommon/navbar/analysis.html'"></div>

<div class="container-fluid">
    <div class="row stretch" style="margin-top: -15px;">

        <button class="btn btn-primary" style="position: absolute; top: 110px; left: 50px; z-index: 1000" ng-click="previousSlot()">Previous</button>
        <button class="btn btn-primary" style="position: absolute; top: 110px; left: 135px; z-index: 1000" ng-click="nextSlot()">Next</button>

        <probr-map overlays="overlays" geodata="geojson"></probr-map>
    </div>
</div>
