<div ng-include="'/static/components/navbar/navbar.html'"></div>

<div class="container">

    <h1>Packets</h1>

    <div class="row">
        <div col="col-xs-12">
            <search-input on-submit="search()" tooltip-placement="bottom" tooltip="Filter by MAC-Address"></search-input>
        </div>
    </div>

    <div ng-show="isSearching">
        <div class="col-xs-12 text-center documents-loading">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
    </div>

    <div ng-hide="isSearching">

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-condensed">
                    <tr ng-repeat="packet in packets">
                        <td>{{ packet.mac_address_src | mac }}</td>
                        <td>{{ packet.mac_address_dst | mac }}</td>
                        <td>{{ packet.signal_strength }}</td>
                        <td>{{ packet.ssid }}</td>
                        <td>
                            <small>{{ packet.id }}</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <pagination total-items="packetsCount"
                        items-per-page="pageLength"
                        max-size="10"
                        boundary-links="true"
                        ng-model="currentPage"
                        class="pagination-sm"
                        ng-change="changePage()"
                        rotate="false">
            </pagination>
        </div>
    </div>

</div>