probr-session-swimlane {
  svg {
    background-color: @brand-gray-light;
  }

  .mini text {
    font-size: 9px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: @brand-gray-dark;
  }

  .main text {
    font-size: 9px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: @brand-gray-dark;
  }

  .axis line, .axis path {
    stroke: @brand-gray-dark;
  }

  .brush .extent {
    stroke: gray;
    fill: @brand-primary;
    fill-opacity: .165;
  }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    width: 300px;

    p {
        margin: 0 0 3px;
        clear: right;
        float: left;
        text-align:left;
        width: 30%
    }

    p.right {
        width: 70%;
        float: right;
        text-align:right;
        color: @brand-primary;
    }

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
