probr-session-swimlane {
  svg {
    background-color: white;
  }

  .mini text {
    font: 9px monospace;
  }

  .main text {
    font: 9px monospace;
  }

  rect {
    fill: @brand-primary;
  }

  .axis line, .axis path {
    stroke: black;
  }

  .brush .extent {
    stroke: gray;
    fill: @brand-primary;
    fill-opacity: .165;
  }

}
